---
import { AstroCommerceJS } from "@adammatthiesen/astro-commercejs";

const commercejs = await AstroCommerceJS();
const { merchant, categories, products} = commercejs
---
<div>
    <h2>This is a API Test Below is the JSON output from the API</h2>
    <h3>Merchants</h3>
    <pre>{JSON.stringify(merchant, null, 2)}</pre>
    <h3>Categories</h3>
    <pre>{JSON.stringify(categories, null, 2)}</pre>
    <h3>Products</h3>
    <pre>{JSON.stringify(products, null, 2)}</pre>
</div>
